name: Deploy to GCP-ASP Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Asp x postgres deployment
        run: |
          echo "Navigating to project directory..."
          # Navigate to the subdirectory containing docker-compose.yml
          cd AspNetCorePostgreSQLDockerApp/

          echo "Rebuilding and restarting Docker Compose stack..."
          # Builds the images (if needed) and restarts the services, forcing recreation
          sudo docker compose up -d --build --force-recreate
